{% extends 'Home/header.html' %}

{% block content %}
<div class="jumbotron">
       <div class="container">
          <h1 class="display-3" style="color:lightblue">School Site</h1>
          <p style="color:navy">Welcome to School Site. An online college where you can learn a variety of courses from anywhere at any time. Advance from novice to expert in a short period of time.<br> Don't delay and join now.</p>
          <p><a class="btn btn-primary btn-lg" href="/Profile/Register" role="button">Join Now</a></p>
       </div>
</div>
<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6">
            <h2>Courses</h2>
            <p>Access a plethora of information with our online courses that range over a multitude of topics.</p>
            <p><a class="btn btn-secondary" href="/Course/" role="button">View Courses »</a></p>
          </div>
          <div class="col-md-6">
            <h2>Register</h2>
            <p>Register as a user to access the best features of the website. As a user you can create your own profile and save the classes you're a part of</p>
            <p><a class="btn btn-secondary" href="/Profile/Register/" role="button">Register As A User »</a></p>
          </div>
        </div>

        <hr>

 </div>

{% endblock %}